.Album {
  border: 1px solid white;
  padding: 10px;
  margin: 50px;
  height: 100px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.AlbumCover {
  height: 100%;
}

.AlbumInformation {
  margin-left: 10px;
}